# Python
__pycache__/
*.py[cod]
venv/
.venv/
.env

# Flutter
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages

# Android
mobile/android/.gradle/
mobile/android/local.properties

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db